.board{
    width: 80%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid-cell{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    background-color: white;
}
